<!-- templates/add_tournament.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Tournoi</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Ajouter un Tournoi</h1>
            <form id="tournoiForm" action="/add_tournament" method="post">
                <div class="field">
                    <label class="label" for="date">Date du tournoi:</label>
                    <div class="control">
                        <input type="date" id="date" name="date" class="input" required>
                    </div>
                </div>

                <div id="joueursContainer">
                    <div class="box joueur">
                        <div class="field">
                            <label class="label" for="nom1">Nom du joueur 1:</label>
                            <div class="control">
                                <input type="text" id="nom1" name="nom1" class="input" required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="score1">Score du joueur 1:</label>
                            <div class="control">
                                <input type="number" id="score1" name="score1" class="input" required>
                            </div>
                        </div>
                        <button type="button" class="button is-danger is-small remove-joueur" onclick="supprimerJoueur(this)">Supprimer</button>
                    </div>
                </div>

                <button type="button" class="button is-primary" onclick="ajouterJoueur()">Ajouter un joueur</button>
                <input type="submit" class="button is-success" value="Ajouter le tournoi">
            </form>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
